<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/htmx.min.js"></script>
    <script defer src="/static/js/alpinejs.min.js"></script>
    <title>fajntvajb - {{block "title" .}}{{end}}</title>
</head>

<body class="h-screen flex flex-col justify-between [&:has(dialog[open])]:overflow-hidden">
    {{template "navbar.html" .}}
    <main class="flex-1">
        {{block "content" .}}{{end}}
    </main>
    {{template "footer.html" .}}
</body>

</html>
