<nav class="flex justify-between p-2 bg-white/60 backdrop-blur shadow sticky top-0 h-fit">
    <a href="/" class="text-xl italic font-serif">fajntvajb</a>
    <ul class="flex gap-2">
        <li class="mr-2"><a href="/vajb">Explore</a></li>
        {{if .Auth}}
        <li><a href="/auth">Home</a></li>
        <li><a href="/auth/profile" class="w-fit flex justify-center gap-1">
                <img src="{{.ProfilePicPath}}" class="w-7 rounded-full">{{.User.DisplayName}}
            </a>
        </li>
        <li><a hx-delete="/auth/logout" href="#">Logout</a></li>
        {{else}}
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li>
        {{end}}
    </ul>
</nav>
