{{range .Vajbs}}
<div class="h-[22rem] p-2">
    {{if .HeaderImage.Valid}}
    <img src="{{.HeaderImage.String}}" alt="Vajb image" class="w-full h-32 object-cover rounded-t-xl">
    {{else}}
    <div class="w-full h-32 bg-gray-300 rounded-t-xl"></div>
    {{end}}
    <div class="bg-gray-100 p-4 rounded-b-xl shadow-lg">
        <h3 class="text-xl truncate">{{.Name}}</h3>
        <p class="my-2 truncate"><i class="fa-solid fa-location-pin"></i> {{.Address}}, {{.Region}}</p>
        <p class="my-2 truncate"><i class="fa-solid fa-calendar"></i> {{.Date.Format "02. 01. 2006 15:04"}}
        </p>
        <div class="flex justify-between">
            <a href="/vajb/{{.ID}}" class="bg-gray-600 hover:bg-gray-500 text-slate-100 py-2 px-4 rounded-3xl">View</a>
        </div>
    </div>
</div>
{{else}}
<div class="col-span-3 flex justify-center">
    <p class="text-3xl">No found vajbs</p>
</div>
{{end}}

{{if len .Vajbs}}
<div hx-get="/api/vajb?name={{.Name}}&region={{.Region}}&from={{.From}}&to={{.To}}&num={{.Num}}&offset={{.Offset}}"
    hx-trigger="revealed" hx-swap="outerHTML"></div>
{{end}}
