<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>fajntvajb - error</title>
</head>

<body class="flex justify-center items-center h-screen bg-red-100">
    <div class="bg-red-300 w-fit flex flex-col items-center gap-5 p-4 rounded-xl shadow-lg">
        <h1 class="text-5xl w-fit">Error 500</h1>
        <p class="text-4xl w-fit">
            Something went wrong. Please try again later.
        </p>
    </div>
</body>

</html>
