{{template "layout.html" .}}

{{define "title"}}{{.Vajb.Name}}{{end}}

{{define "content"}}
<div class="flex mt-10 items-start justify-center h-full rounded-b-xl">
    <div class="w-[90%] bg-gray-50 shadow-lg rounded-xl">
        {{if .ImagePath}}
        <img src="{{.ImagePath}}" alt="Vajb image" class="w-full h-64 object-cover rounded-t-xl">
        {{else}}
        <div class="w-full h-64 bg-gray-300 rounded-t-xl"></div>
        {{end}}

        <div class="p-10">
            <div class="flex justify-between items-center">
                <h1 class="text-2xl">{{.Vajb.Name}}</h1>
                {{if .IsOwner}}
                <div class="flex gap-2" x-data="">
                    <a href="/vajb/{{.Vajb.ID}}/edit"
                        class="bg-gray-600 hover:bg-gray-500 text-slate-100 px-5 py-2 rounded-3xl shadow-lg">Edit</a>
                    <a href="#" @click="$refs.dialog.showModal()"
                        class="bg-red-600 hover:bg-red-500 text-slate-100 px-5 py-2 rounded-3xl shadow-lg">Delete</a>
                    <dialog x-ref="dialog" class="w-[20rem] bg-gray-50 p-5 rounded-xl shadow-lg">
                        <h1 class="text-2xl text-center">Are you sure?</h1>
                        <div class="flex justify-center gap-2 mt-5">
                            <button class="bg-gray-600 hover:bg-gray-500 text-slate-100 px-5 py-2 rounded-3xl shadow-lg"
                                @click="$refs.dialog.close()">Cancel</button>
                            <a href="#" hx-delete="/vajb/{{.Vajb.ID}}"
                                class="bg-red-600 hover:bg-red-500 text-slate-100 px-5 py-2 rounded-3xl shadow-lg">Delete</a>
                        </div>
                    </dialog>
                </div>
                {{else}}
                <div class="flex gap-2" x-data="">
                    {{if .IsAuthenticated}}
                    {{if .IsJoined}}
                    <a href="/vajb/{{.Vajb.ID}}/unjoin"
                        class="bg-red-500 hover:bg-red-400 text-slate-100 px-5 py-2 rounded-3xl shadow-lg">Unjoin</a>
                    {{else}}
                    <a href="/vajb/{{.Vajb.ID}}/join"
                        class="bg-gray-600 hover:bg-gray-500 text-slate-100 px-5 py-2 rounded-3xl shadow-lg">Join</a>
                    {{end}}
                    {{else}}
                    <a href="#" @click="$refs.dialog.showModal()"
                        class="bg-gray-600 hover:bg-gray-500 text-slate-100 px-5 py-2 rounded-3xl shadow-lg">Join</a>
                    <dialog x-ref="dialog" class="w-[20rem] bg-gray-50 p-5 rounded-xl shadow-lg">
                        <h1 class="text-2xl text-center">
                            To perform this action you need to be logged in!
                        </h1>
                        <div class="flex justify-center gap-2 mt-5">
                            <button class="bg-gray-400 hover:bg-gray-300 text-slate-100 px-5 py-2 rounded-3xl shadow-lg"
                                @click="$refs.dialog.close()">Cancel</button>
                            <a href="/auth/login"
                                class="bg-gray-600 hover:bg-gray-500 text-slate-100 px-5 py-2 rounded-3xl shadow-lg">Login</a>
                        </div>
                    </dialog>
                    {{end}}
                </div>
                {{end}}
            </div>
            <div class="flex gap-3">
                <div class="mt-5 bg-gray-200 rounded-xl h-full w-[20rem] p-3" x-data="">
                    <p class="text-lg truncate">
                        <i class="fa-solid fa-location-pin"></i> {{.Vajb.Address}}
                    </p>
                    <p class="text-lg truncate"><i class="fa-solid fa-map"></i> {{.Region}}</p>
                    <p class="text-lg truncate"><i class="fa-solid fa-calendar"></i> {{.Date}}</p>
                    <p class="text-lg truncate"><i class="fa-solid fa-user-group"></i>
                        {{if .Participants}}
                        <a href="#" @click="$refs.parcdialog.showModal()" class="hover:underline">{{len .Participants}}
                            participant{{if gt (len .Participants)
                            1}}s{{end}}</a>
                        <dialog x-ref="parcdialog" class="w-[20rem] bg-gray-50 p-5 rounded-xl shadow-lg">
                            <p class="text-xl mb-1">Participants of {{.Vajb.Name}}:</p>
                            <ul class="flex flex-col gap-1">
                                {{range .Participants}}
                                <li class="text-lg flex gap-1"><img src="{{.ProfilePic.String}}" alt="profile picture"
                                        class="w-7 rounded-full">{{.DisplayName}}</li>
                                {{end}}
                            </ul>
                            <div class="flex justify-center">
                                <button
                                    class="bg-gray-400 hover:bg-gray-300 text-slate-100 px-5 py-2 mt-2 rounded-3xl shadow-lg"
                                    @click="$refs.parcdialog.close()">OK</button>
                            </div>
                        </dialog>
                        {{else}}
                        No participants yet
                        {{end}}
                    </p>
                </div>

                <div class="mt-5">
                    <h2 class="text-xl">Description</h2>
                    <p class="text-lg">{{.Vajb.Description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
